body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    max-width: 1110px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    color:#36536B;
    text-decoration: none;
    font-family: 'Public Sans';
    display: none;
}

a:hover {
    opacity: 0.7;
    font-weight: 800;
}

.call-button {
    background-color: #BA4270;
    padding: 16px;
    border-radius: 32px;
    color: white;
}

@media screen and (min-width: 768px) {
    a {
        display: initial;
        margin-left: 16px;
    }

    .burger-menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .head-nav {
        justify-content: unset;
    }

    .call-button {
        margin-left: auto;
    }
}